/*width: 1080px;    -------> if some issue*/
.main-page {
    width: 100%;
    height: auto;
}

.front-view {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    position: relative;
    opacity: 0.5;
    transform: translate3d(0px, -8px, 0px);
}
/*Common CSS Proprty ---> Can be overriden if needed*/
.editInput {
    width: 100%; 
    background: none; 
    border: none; 
    font: inherit; 
    text-align: right; 
    outline:none; 
    color: white; 
    margin-right: 5px; 
    opacity: 0.6
}

.editButton {
    outline: none; 
    background-color: rgba(49, 42, 42, 0.5); 
    color: rgb(161, 161, 161);
    font-weight: bold; 
    letter-spacing: 3px; 
    border: 1.5px solid grey; 
     margin-left: 2rem; 
     padding: 5px 10px; 
     border-radius: 5px; 
     font-size: 1.5rem
}
.editButton:hover {
    background-color: rgba(128, 41, 41, 0.8);
    /*rgba(24, 23, 23, 0.8)*/
}

.edit-container {
    display: flex;
    justify-content: center;
}

.horizontal-line-in-delete-button {
    border-right: 3px solid rgb(161, 161, 161); 
    height: 100%; 
    margin-right: 10px;
}


/*CSS Property for Parallax Code*/

.main {

    /*Text region*/
    font-size: 16px;
    font-family: "Lato" sans-serif;
    font-weight: 400px;
    color: #666;
    line-height: 1.8em;  
}

/*CSS Property for First Parallax*/

.parallax-1 {
     /*Background image*/
     height: 850px;
     
     width: 100%;
     margin: 0;
     background-color: rgb(51, 59, 80);
     
}

.parallax-1::before {
    content: " ";
    background-image: url("../../assets/resume-background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    opacity: 0.5;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

/*CSS Property for parallax header*/

.parallax-header-1 {
    /*Overlaying vertically and horizontally center the text*/
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-content: right;

    position: absolute;
    top: 30%;
    left: 30%;
    

    /*Text properties*/
    color: #ffffff;  
    font-size: 2rem;
    line-height: 0.9;
    font-weight: 400px;   
}

.parallax-header-1 > h1 {
    
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: 8px;
}

/*CSS Property for About Me section*/

.about-me {
    /*About Me container position*/
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    bottom: 0px;
    background-color: rgba(51, 59, 80, 1);
    max-width: 900px;
    max-height: 300px;
    width: 100%;
    height: 100%;

}

.about-me > p {
        /*Text property*/
        padding: 100px 50px;
        color: white;
}


/*CSS Property for Second Parallax*/
.parallax-container-2 {
    
    background-color: rgb(51, 59, 80);
    height: 900px;
    width: 100%;
    margin: 0;

    /*This is added for over laying elements*/
    position: relative;
    
}

.parallax-2 { 
    
    height: 900px;
    width: 100%;
    margin: 0;

    position: absolute;
    
    content: " ";
    background-image: url("../../assets/resume-background2.jpg");
    opacity: 0.4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    background-attachment: fixed;
}



/*CSS Property for Second parallax headers*/

.parallax-header-2 {

    /*Over laying one div over other div ---> Add absolute position in parent element and the add the below code*/ 
    position: absolute;
    z-index: 10;

    /*Text properties*/
    color: #fff; 
    font-size: 2rem;
    line-height: 0.9;
    font-weight: 400px;   
    margin: 20px;
    height: 100%;  
    width: 100%; 
    text-align: center;

    transform: translate(0%, 20%);
}

.parallax-header-with-edit {
    display: flex; 
    justify-content: center;
}

.parallax-content-2 {

    margin-right: 20%;
    margin-left: 20%;
    /*Text properties*/
    color: #fff;
    font-size: 1.5rem;
    line-height: 0.9;
    font-weight: 200px;
    padding: 0px;
    transform: translate(0%, 30%);
}

progress {
    width: 100%;
}


/*----------------CSS PROPERTY FOR 3RD PARALLAX-----------------------*/
/*------------------CSS Property for Project Slider------------------- */
/*background-color: #a4152c;*/
.project-container {
    width: 100%;
    height: 70vh;
    

    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.project-box {
    background-color: #1e1e26;
    width: 350px;
    height: 550px;
    border-radius: 10px;
    flex-direction: column;
    margin: 20px 10px;
    padding: 10px 5px;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);

    justify-content:center;
    align-items: center;
    box-sizing: border-box;
}

.project-unordered-list {
    list-style: none;
    display: flex;
    padding-inline-start: 0px;
}

.project-items {
    flex-direction: row;
}

.project-header {
    font-family: bebas kai;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 2px;
    color: #555561;
}

.project-image {
    height: 300px;
    max-height: 100%;
    width: 90%;
    border-radius: 10px;
}

.project-description {
    text-align: center;
    font-family: calibri;
    font-weight: bold;
    font-size: 20px;
    color: #6a6a74;
    margin-top: 20px;
    text-align: center;
}

.forwardButton, .backwardButton {
    background-color: black;
    padding: 20px 27px;
    border-radius: 50%;
    text-align: center;
    opacity: 0.6;
    cursor: pointer;
}

.forwardButton:hover, .backwardButton:hover{
    opacity: 1;
}

.for-back-button-container {
    display: flex;
    position: absolute;
    z-index: 14;
    width: 90%;
    justify-content: center;
}

.forwardButton {
    margin-right: 15px;
}

.backwardButton {
    margin-left: -15px;
}

.project-box > .project-delete-button-position {
    z-index: 13;
    margin-top: -34vh;

}

.project-delete-button-position > button {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5vh 5vh;
    border-radius: 50%;
    font-size: 10vh;
}

/*-----------------CSS PROPERTY FOR 4TH PARALLAX-------------------*/

.parallax-container-override-4::after { 
    height: 200vh;
    width: 100%;  
    content: "";
    float: left;
    background: linear-gradient(rgba(51, 59, 80, 0.6), rgba(51, 59, 80, 0.6)), url("../../assets/experience-journey.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;        
    z-index: 1;
    

}

.parallax-container-override-4 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.parallax-box{

    position: absolute;
    z-index: 100;  
    margin-top: 20vh;
}

.parallax-box > h1 {
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 8px;
    text-align: center;
}

.parallax-content-4 {
    color: white;
    font-size: 1rem;
    z-index: 100;
}


/*-----------CSS Property for Timeline Badge--------------*/

.timeline {
    list-style-type: none;
    position: relative;
}

.timeline::before {
    content: "";
    background-color: rgb(24, 42, 51);
    width: 5px;
    height: 100%;

    display: inline-block;

    position: absolute;
    left: 50%;
    margin-left: 1.5%;
    z-index: 100;
}

.timeline > li {
    display: flex;
    margin: 20px 0;
    padding-left: 20px;
    margin-bottom: 50px;;
}

.timeline > li::before {
    content: "";
    border: 5px solid rgb(45, 166, 214);
    background-color: white;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    position: absolute;
    left: 50%;

    margin-left: -0.5%;
    z-index: 400;
}


.timeline > li::after {
    content: "";
    margin-bottom: 20px;
}


.timeline > li > .timeline-panel {
    float: left;
    border-radius: 10px;
    text-align: right;

    padding: 20px;

    margin-bottom: 20px;
    margin-left: -55%;
    width: 100%;
}


.timeline > li > .timeline-inverted {

    position: relative;
    left: 65.5%;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.8);
    border-radius: 10px;
    margin-left: -55%;
    margin-bottom: 20px;
    padding: 20px;
    width: 70%;

}

.timeline > li.add-timeline::before {
    content: "\0002B";
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    font-size: 5em;
    font-weight: lighter;
    color: rgb(45, 166, 214);
}

.timeline-inverted-editInput {
    text-align: left;
    width: 100%;
}

.add-timeline-button {
    border: none;
    outline: none;
    background: none; 
    border-radius: 50%; 
    width: 50px; 
    height: 50px;  
    z-index: 400; 
    margin-left: 18px; 
    margin-right: -65px;
}



/*
.journey-ordered-list {
    list-style-type: none;
}

.journey-time-line-list {
    position: relative;
    margin: 0;
    padding-bottom: 1em;
    padding-left: 20px;
}

.journey-time-line-list::before {
    content: " ";
    background-color: #c00;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 6px;
    width: 3px;
}

.journey-time-line-list::after {
    content: "";
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 0;
    height: 15px;
    width: 15px;
}
*/