<div class = "main">
    <div class = "parallax-1">
        <div class = "parallax-header-1">
            <h1>I'M <br>SANJAY.</h1>
            <p>FULL STACK MEAN DEVELOPER</p>           
        </div>
        <div class = "about-me">
            <p>I AM, ASPIRING TO BE PROFESSIONAL FULL STACK DEVELOPER. I AM A NATURE LOVER AND LIKE WATCHING LOT OF THRILLER AND ADVENTURE MOVIES.</p>
        </div>       
    </div>

    <div class = "parallax-container-2">
        <div class = "parallax-2">           
        </div>
        <div class = "parallax-header-2">

            <div class = "parallax-header-with-edit">
                <h2>01 PROFESSIONAL SKILLS</h2>
               
            </div>

            <div class="parallax-content-2 " >              
                <h4 style = "margin-bottom: 30px;">My Knowledge Level In Software</h4>
                <div class = "edit-container">
                    <button class = "editButton" (click) = "onAdd()">Add</button>
                    <button class = "editButton" (click) = "onEdit()">Edit</button>
                    <button class = "editButton" (click) = "onCancel()">Cancel</button>
                    <button class = "editButton" (click) = "onSave()">Save</button>
                </div>

                <mat-grid-list cols = "15" rowHeight = "40px" >
<!--(ngModelChange) = "changeDetect(skill, $event, 'language')"-->
                    <div #additionalSkill *ngFor = "let skill of professionalSkills" >
                        <mat-grid-tile
                            [colspan] = "3"
                            [rowspan] = "1">

                            <input #skillLanguage type = "text" class = "editInput" [readonly] = "!isEditable" [(ngModel)] = "skill.language" placeholder="language">
                        
                        </mat-grid-tile>
                        <mat-grid-tile
                            [colspan] = "6"
                            [rowspan] = "1">
                            <progress [value] = "skill.knowledgeLevel" max = "100">{{ skill.knowledgeLevel }}%</progress>
                        </mat-grid-tile>
                        <mat-grid-tile
                            [colspan] = "2"
                            [rowspan] = "1">

                            <input #skillLevel style = "text-align: right; margin-right: 0px;" [readonly] = "!isEditable" type = "text" class = "editInput" [(ngModel)] = "skill.knowledgeLevel">
                            <input style = "text-align: left;" class = "editInput" readonly type = "text" value = "%">

                        </mat-grid-tile>

                        <mat-grid-tile
                            [colspan] = "4"
                            [rowspan] = "1">
                            <!-- <img style = "height: 2rem; margin-right: 0px;" src = "../../assets/minusButton.png"> -->
                            <div style = "position: absolute; left: 0px; ">
                                <button class = "editButton">Delete <span class="horizontal-line-in-delete-button"></span> &#10006; </button>
                            </div>
                            
                        </mat-grid-tile>
                    </div>
                    
                </mat-grid-list>
            </div>
        </div>
    </div>

    <!-- PARALLAX 3 BEGINS FROM HERE-->
    <div class = "parallax-container-2 parallax-container-override-3">
        <div class = "parallax-header-2">
            <h2>02 PROJECTS</h2>

            <div class = "edit-container">
                <div class = "editButton">Edit</div>
                <div class = "editButton">Cancel</div>
                <div class = "editButton">Save</div>
            </div>
            
            <div class = "container project-container">
                <div class = "container for-back-button-container">
                    <div class = "backwardButton">&lt;</div>
                    <span style = "flex: 1 auto;"></span>
                    <div class = "forwardButton">&gt;</div>
                </div>
                
                <ul class = "project-unordered-list">                  
                    <li class = "project-items">                        
                        <div class = "project-box">
                            <p class = "project-header">Header</p>
                            <img src = "../../assets/aspire_WPF.jpg" class = "project-image">
                            <p class = "project-description">This is the project content</p>                                                  
                        </div>
                        <button class = "editButton">Delete<span class = "horizontal-line-in-delete-button"></span>&#10006;</button>
                    </li>
                    <li class = "project-items">
                        <div class = "project-box">
                            <p class = "project-header">Header</p>
                            <img src = "../../assets/aspire_WPF.jpg" class = "project-image">
                            <p class = "project-description">This is the project content</p>
                        </div>
                        <button class = "editButton">Delete<span class = "horizontal-line-in-delete-button"></span>&#10006;</button>
                    </li>
                    <li class = "project-items">
                        <div class = "project-box">
                            <p class = "project-header">Header</p>
                            <img src = "../../assets/aspire_WPF.jpg" class = "project-image">
                            <p class = "project-description">This is the project contentsdbiudbsicudiv diunvidunvidfjsvni sdnfoifsdn</p>
                        </div>
                        <button class = "editButton">Delete<span class = "horizontal-line-in-delete-button"></span>&#10006;</button>
                    </li>
                    <li class = "project-items">
                        <div class = "project-box">
                            <p class = "project-header">Header</p>
                            <img src = "../../assets/home.svg" class = "project-image">
                            <p class = "project-description">This is the project content</p>
                        </div>
                        <button class = "editButton">Delete<span class = "horizontal-line-in-delete-button"></span>&#10006;</button>
                    </li>
                    <li class = "project-items">
                        <div class = "project-box">
                            <p class = "project-header">Header</p>
                            <img src = "../../assets/aspire_WPF.jpg" class = "project-image">
                            <p class = "project-description">This is the project content</p>
                        </div>
                        <button class = "editButton">Delete<span class = "horizontal-line-in-delete-button"></span>&#10006;</button>
                    </li>
                    <li class = "project-items">
                        <div class = "project-box">
                            <p class = "project-header">Header</p>
                            <img src = "../../assets/aspire_WPF.jpg" class = "project-image">
                            <p class = "project-description">This is the project contentsdbiudbsicudiv diunvidunvidfjsvni sdnfoifsdn</p>
                        </div>
                        <button class = "editButton">Delete<span class = "horizontal-line-in-delete-button"></span>&#10006;</button>
                    </li>

                    <li class = "project-items">
                        <div class = "project-box">
                            <p class = "project-header">Header</p>
                            <img src = "../../assets/aspire_WPF.jpg" class = "project-image">
                            <p class = "project-description">This is the project content</p>
                        </div>
                        <button class = "editButton">Delete<span class = "horizontal-line-in-delete-button"></span>&#10006;</button>
                    </li>
                    <li class = "project-items">
                        <div class = "project-box">
                            <p class = "project-header">Header</p>
                            <img src = "../../assets/home.svg" class = "project-image">
                            <p class = "project-description">This is the project content</p>
                        </div>
                        <button class = "editButton">Delete<span class = "horizontal-line-in-delete-button"></span>&#10006;</button>
                    </li>
                    <li class = "project-items">
                        <div class = "project-box">
                            <p class = "project-header">Header</p>
                            <img src = "../../assets/aspire_WPF.jpg" class = "project-image">
                            <p class = "project-description">This is the project contentsdbiudbsicudiv diunvidunvidfjsvni sdnfoifsdn</p>
                        </div>
                        <button class = "editButton">Delete<span class = "horizontal-line-in-delete-button"></span>&#10006;</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- PARALLAX 4 BEGINS FROM HERE -->
    <div id="para" style = "height: 100vh; width: 100%;">
        <div class = "parallax-container-override-4">
            <div class = "parallax-box">
                <h1 class = "test">03 EXPERIENCE JOURNEY</h1>
                <div class = "parallax-content-4">

                    <!--REMOVE THE BELOW TIMELINE AND USE A NORMAL TIME LINE-->
                    <ul class = "timeline">
                        <li> 
                            <div class = "timeline-panel">
                                <h2>High School</h2>
                                <p>2000 - 2012</p>
                            </div>
                            <div class = "timeline-inverted">
                                <h2>Air Force School</h2>
                                <p>This is the happy time where I pent my childhood, from LKG to 10th. In 10th standard i had scored 72.2%. </p>
                            </div>                             
                        </li>

                        <li> 
                            <div class = "timeline-panel">
                                <h2>Pre University College</h2>
                                <p>2012 - 2014</p>
                            </div>
                            <div class = "timeline-inverted">
                                <h2>St Joseph Composite Pre University College</h2>
                                <p>Stream: PCME (Physics, Chemistry, Mathematics, Electricals)<br>Score: 70.89%</p>
                            </div>                             
                        </li>

                        <li> 
                            <div class = "timeline-panel">
                                <h2>Batchelor of Engineering</h2>
                                <p>2014 - 2018</p>
                            </div>
                            <div class = "timeline-inverted">
                                <h2>St Joseph Composite Pre University College</h2>
                                <p>Stream: PCME (Physics, Chemistry, Mathematics, Electricals)<br>Score: 70.89%</p>
                            </div>                             
                        </li>

                        <li> 
                            <div class = "timeline-panel">
                                <h2>Pre University College</h2>
                                <p>2012 - 2014</p>
                            </div>
                            <div class = "timeline-inverted">
                                <h2>St Joseph Composite Pre University College</h2>
                                <p>Stream: PCME (Physics, Chemistry, Mathematics, Electricals)<br>Score: 70.89%</p>
                            </div>                             
                        </li>
                        

                        <li *ngIf = "false">
                        </li>

                        <li *ngIf = "true" class = "add-timeline" [formGroup] = "experienceForm" >  
                            <div class = "timeline-panel">
                                <h2><input class = "editInput" formControlName = "eventName" placeholder="Degree/Achievements/Events"></h2>
                                <p><input class = "editInput" formControlName = "eventYear" placeholder="Year of event"></p>
                            </div>
                            <button class = "add-timeline-button" type = "submit" (click) = "onExperienceSubmit()"></button>
                            <div class = "timeline-inverted">
                                <h2><input class = "editInput timeline-inverted-editInput" formControlName = "eventLocation" placeholder="Where did event occur"></h2>
                                <p><input class = "editInput timeline-inverted-editInput" formControlName = "eventDescription" placeholder="Description of event"></p>
                            </div>                                                          
                        </li>
                    </ul>
                    
                </div>            
            </div>    
        </div>
    </div>
    

  
</div>







