<div class = "main">
    <div class = "parallax-1">
        <div class = "parallax-header-1">
            <h1>I'M <br>SANJAY.</h1>
            <p>FULL STACK MEAN DEVELOPER</p>           
        </div>
        <div class = "about-me">
            <p>I AM, ASPIRING TO BE PROFESSIONAL FULL STACK DEVELOPER. I AM A NATURE LOVER AND LIKE WATCHING LOT OF THRILLER AND ADVENTURE MOVIES.</p>
        </div>       
    </div>

    <div class = "parallax-container-2">
        <div class = "parallax-2">           
        </div>
        <div class = "parallax-header-2">

            <div class = "parallax-header-with-edit">
                <h2>01 PROFESSIONAL SKILLS</h2>
               
            </div>

            <div class="parallax-content-2 " >
                <h4 style = "margin-bottom: 30px;">My Knowledge Level In Software  <button class = "editButton" (click) = "onEdit()">&#x2702; Edit</button></h4>
                <mat-grid-list cols = "15" rowHeight = "40px" >

                    <div *ngFor = "let skill of professionalSkills" >
                        <mat-grid-tile
                            [colspan] = "3"
                            [rowspan] = "1">

                            <input #skillLanguage type = "text" class = "editInput" [readonly] = "!isEditable" [ngModel] = "skill.language" (ngModelChange) = "changeDetect(skill, $event, 'language')">
                        
                        </mat-grid-tile>
                        <mat-grid-tile
                            [colspan] = "6"
                            [rowspan] = "1">
                            <progress [value] = "skill.knowledgeLevel" max = "100">{{ skill.knowledgeLevel }}%</progress>
                        </mat-grid-tile>
                        <mat-grid-tile
                            [colspan] = "2"
                            [rowspan] = "1">

                            <input #skillLevel style = "text-align: right; margin-right: 0px;" [readonly] = "!isEditable" type = "text" class = "editInput" [ngModel] = "skill.knowledgeLevel" (ngModelChange) = "changeDetect(skill, $event, 'skillLevel')">
                            <input style = "text-align: left;" class = "editInput" readonly type = "text" value = "%">

                        </mat-grid-tile>

                        <mat-grid-tile
                            [colspan] = "4"
                            [rowspan] = "1">
                            <!-- <img style = "height: 2rem; margin-right: 0px;" src = "../../assets/minusButton.png"> -->
                            <div style = "position: absolute; left: 0px; ">
                                <button class = "editButton">Delete <span class="horizontal-line-in-delete-button"></span> &#10006; </button>
                            </div>
                            
                        </mat-grid-tile>
                    </div>
                    
                </mat-grid-list>
            </div>
        </div>
    </div>

    <!-- PARALLAX 3 BEGINS FROM HERE-->
    <div class = "parallax-container-2 parallax-container-override-3">
        <div class = "parallax-header-2">
            <h2>02 PROJECTS</h2>

            <div class = "container project-container">
                <div class = "container for-back-button-container">
                    <div class = "backwardButton"><</div>
                    <span style = "flex: 1 auto;"></span>
                    <div class = "forwardButton">></div>
                </div>
                
                <ul class = "project-unordered-list">
                    <li class = "project-items">
                        <div class = "project-box">
                            <p class = "project-header">Header</p>
                            <img src = "../../assets/aspire_WPF.jpg" class = "project-image">
                            <p class = "project-description">This is the project content</p>
                        </div>
                    </li>
                    <li class = "project-items">
                        <div class = "project-box">
                            <p class = "project-header">Header</p>
                            <img src = "../../assets/aspire_WPF.jpg" class = "project-image">
                            <p class = "project-description">This is the project content</p>
                        </div>
                    </li>
                    <li class = "project-items">
                        <div class = "project-box">
                            <p class = "project-header">Header</p>
                            <img src = "../../assets/aspire_WPF.jpg" class = "project-image">
                            <p class = "project-description">This is the project contentsdbiudbsicudiv diunvidunvidfjsvni sdnfoifsdn</p>
                        </div>
                    </li>
                    <li class = "project-items">
                        <div class = "project-box">
                            <p class = "project-header">Header</p>
                            <img src = "../../assets/home.svg" class = "project-image">
                            <p class = "project-description">This is the project content</p>
                        </div>
                    </li>
                    <li class = "project-items">
                        <div class = "project-box">
                            <p class = "project-header">Header</p>
                            <img src = "../../assets/aspire_WPF.jpg" class = "project-image">
                            <p class = "project-description">This is the project content</p>
                        </div>
                    </li>
                    <li class = "project-items">
                        <div class = "project-box">
                            <p class = "project-header">Header</p>
                            <img src = "../../assets/aspire_WPF.jpg" class = "project-image">
                            <p class = "project-description">This is the project contentsdbiudbsicudiv diunvidunvidfjsvni sdnfoifsdn</p>
                        </div>
                    </li>

                    <li class = "project-items">
                        <div class = "project-box">
                            <p class = "project-header">Header</p>
                            <img src = "../../assets/aspire_WPF.jpg" class = "project-image">
                            <p class = "project-description">This is the project content</p>
                        </div>
                    </li>
                    <li class = "project-items">
                        <div class = "project-box">
                            <p class = "project-header">Header</p>
                            <img src = "../../assets/home.svg" class = "project-image">
                            <p class = "project-description">This is the project content</p>
                        </div>
                    </li>
                    <li class = "project-items">
                        <div class = "project-box">
                            <p class = "project-header">Header</p>
                            <img src = "../../assets/aspire_WPF.jpg" class = "project-image">
                            <p class = "project-description">This is the project contentsdbiudbsicudiv diunvidunvidfjsvni sdnfoifsdn</p>
                        </div>
                    </li>
                </ul>
            </div>
                

        </div>
    </div>
  
</div>

<!-- This is temporary-->
<div style = "position: absolute; z-index: 15;">
    <button  (click) = "onSave()">Save</button>
    
    <button type = "submit" (click) = "onCancel()">Cancel</button>
</div>




