.main-page {
    width: 1080px;
    height: auto;
}

.front-view {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    position: relative;
    opacity: 0.5;
    transform: translate3d(0px, -8px, 0px);
}
/*Common CSS Proprty ---> Can be overriden if needed*/
.editInput {
    width: 100%; 
    background: none; 
    border: none; 
    font: inherit; 
    text-align: right; 
    outline:none; 
    color: white; 
    margin-right: 5px; 
    opacity: 0.6
}

.editButton {
    outline: none; 
    background-color: rgba(49, 42, 42, 0.5); 
    color: rgb(161, 161, 161);
    font-weight: bold; 
    letter-spacing: 3px; 
    border: 1.5px solid grey; 
     margin-left: 2rem; 
     padding: 5px 10px; 
     border-radius: 5px; 
     font-size: 1.5rem
}
.editButton:hover {
    background-color: rgba(128, 41, 41, 0.8);
    /*rgba(24, 23, 23, 0.8)*/
}

.horizontal-line-in-delete-button {
    border-right: 3px solid rgb(161, 161, 161); 
    height: 100%; 
    margin-right: 10px;
}


/*CSS Property for Parallax Code*/

.main {

    /*Text region*/
    font-size: 16px;
    font-family: "Lato" sans-serif;
    font-weight: 400px;
    color: #666;
    line-height: 1.8em;  
}

/*CSS Property for First Parallax*/

.parallax-1 {
     /*Background image*/
     height: 850px;
     
     width: 100%;
     margin: 0;
     background-color: rgb(51, 59, 80);
     
}

.parallax-1::before {
    content: " ";
    background-image: url("../../assets/resume-background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    opacity: 0.5;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

/*CSS Property for parallax header*/

.parallax-header-1 {
    /*Overlaying vertically and horizontally center the text*/
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-content: right;

    position: absolute;
    top: 30%;
    left: 30%;
    

    /*Text properties*/
    color: #ffffff;  
    font-size: 2rem;
    line-height: 0.9;
    font-weight: 400px;   
}

.parallax-header-1 > h1 {
    
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: 8px;
}

/*CSS Property for About Me section*/

.about-me {
    /*About Me container position*/
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    bottom: 0px;
    background-color: rgba(51, 59, 80, 1);
    max-width: 900px;
    max-height: 300px;
    width: 100%;
    height: 100%;

}

.about-me > p {
        /*Text property*/
        padding: 100px 50px;
        color: white;
}


/*CSS Property for Second Parallax*/
.parallax-container-2 {
    
    background-color: rgb(51, 59, 80);
    height: 900px;
    width: 100%;
    margin: 0;

    /*This is added for over laying elements*/
    position: relative;
    
}

.parallax-2 { 
    
    height: 900px;
    width: 100%;
    margin: 0;

    position: absolute;
    
    content: " ";
    background-image: url("../../assets/resume-background2.jpg");
    opacity: 0.4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    background-attachment: fixed;
}



/*CSS Property for Second parallax headers*/

.parallax-header-2 {

    /*Over laying one div over other div ---> Add absolute position in parent element and the add the below code*/ 
    position: absolute;
    z-index: 10;

    /*Text properties*/
    color: #fff; 
    font-size: 2rem;
    line-height: 0.9;
    font-weight: 400px;   
    margin: 20px;
    height: 100%;  
    width: 100%; 
    text-align: center;

    transform: translate(0%, 20%);
}

.parallax-header-with-edit {
    display: flex; 
    justify-content: center;
}

.parallax-content-2 {

    margin-right: 20%;
    margin-left: 20%;
    /*Text properties*/
    color: #fff;
    font-size: 1.5rem;
    line-height: 0.9;
    font-weight: 200px;
    padding: 0px;
    transform: translate(0%, 30%);
}

progress {
    width: 100%;
}


/*CSS property for Project works (3RD Parallax)   ---------------   CSS Property for Slide show */
.slidshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    height: 300px;
}

.mySlides {
    
}

.numbertext {  
    padding: 8px 12px;
    position: absolute;
    left: 0;
    top: 0;  
    z-index: 14;

    font-size: 20px;
    font-weight: lighter;
}

.prev, .next {

    /*Positioning the arrows*/
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;

    /*Font for the arrows*/
    color: white;
    font-weight: bold;
    width: auto;
    user-select: none;
    transition: 0.6s ease;
    cursor: pointer;
    
}

.prev {
    left: 0;
}

.next { 
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;

    display: inline-block;
    margin: 0 4px;

    transition: background-color 0.6s ease;
}

.dot:active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.projectSlideShow {
    background-color: rgba(71, 61, 61, 0.5); 
    width: 100%; 
    height: 300px; 
    position:absolute; 
    top:0; 
}

.projectDisplay {
    display: flex; 
    position: absolute; 
    left: 6%; 
    right: 6%; 
    padding: 0px 5px; 
    height: 100%;
}

.projectDisplay > img {
    box-sizing: border-box;
    width: 49.99%; 
    height: 100%
}



