
<div class = "justify-content-center">
    <div class = "header-menu-block">
        <div>
            <div>
                
            </div>

            <img src = "../../assets/profilePic.svg" class = "profile-pic">
            <ul>
                <li><a>Sanjay</a></li>
                <li><a>Key skills</a></li>
                <li><a>Project</a></li>
                <li><a>Experience</a></li>
            </ul>
        </div>
    </div>

    <div class = "header-block">
        <div class = "header-block-content">
            <b>I'm Sanjay.</b>
            <p>Aspiring to be full-stack developer and interested into integrating artificial intelligence into web page</p>
        </div>
        <span>
            <button class = "portfolio-button">View Portfolio</button>
            <button class = "hire-me-button">Send mail</button>
        </span>
        
    </div>
</div>
