
<div class = "justify-content-center">
    <div class = "header-menu-block">
        <div>
            <div class = "mt-2 profile-logo">
                <img src = "../../assets/profilePic.svg" class = "profile-pic">
                <h2><b>Sanjay.</b></h2>    
                <h5>Developer</h5>          
            </div>

            <ul class = "menu-list">               
                <li><img src = "../../assets/about.png"><a>About Me</a></li>
                <li><img src = "../../assets/keySkills.png"><a>Key skills</a></li>
                <li><img src = "../../assets/project.png"><a>Project</a></li>
                <li><img src = "../../assets/workExperience.png"><a>Experience</a></li>
            </ul>
        </div>
    </div>

    <div class = "header-block">
        <div class = "header-block-content">
            <b>I'm Sanjay.</b>
            <p>Aspiring to be full-stack developer and interested into integrating artificial intelligence into web page</p>
        </div>
        <span>
            <button class = "portfolio-button">View Portfolio</button>
            <button class = "hire-me-button">Send mail</button>
        </span>
        
    </div>
</div>

<div class = "justify-content-center">
    <div class = "main-content-block ">
        <h1 class = "main-content-header">Key Skills</h1>
        <div class = "main-content-header-underline"></div>

        <div class = "key-skill-grid">
            <div class = "key-skill-item">
                
            </div>
        </div>
    </div>
</div>

